
table {
  width: 100%;
  border-collapse: collapse;
}


th {
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid black;
  text-align: left;
}

.main_div {
    margin: auto;
    width: 90%;
    padding: 5%;
}


